@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Ban_Di_Dong.Areas.Admin.Models.CategoryAdminVM>
@{
    ViewData["Title"] = "DanhMucLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DANH MỤC LOẠI SẢN PHẨM</h1>
<a asp-action="ThemLoaiSanPhamMoi" class="btn btn-primary">Thêm Loại Sản Phẩm</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                MÃ
            </th>
            <th>
                TÊN
            </th>
            <th>CÔNG CỤ</th>
           


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CateId</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="ThemLoaiSanPhamMoi" class="btn btn-primary">Chỉnh Sửa</a>
                    <a asp-action="ThemLoaiSanPhamMoi" class="btn btn-primary">Xoá</a>

                </td>

            </tr>
        }

    </tbody>
</table>


