@model Ban_Di_Dong.Data.TbProduct
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>THÊM MỚI SẢN PHẨM</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên Sản Phẩm Mới </label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Mô Tả Sản Phẩm Mới</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên Loại Sản Phẩm</label>
                <select asp-for="CateId" class ="form-control" asp-items="ViewBag.CateId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Tên Nhà Cung Cấp</label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a asp-action="DanhMucSanPham" class="btn btn-primary">Quay Về</a>
            </div>

            <div class="form-group">
                <label class="control-label">Hình Ảnh Sản Phẩm Mới</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>



